name:                          Build Package Deploy AWS Lambda

on:
  push:
    branches:
      - master

jobs:

  build:
    name:                      Build and Package
    runs-on:                   ubuntu-latest

    steps:

    - name:                    Checkout
      uses:                    actions/checkout@v2.3.3
      with:
        path:                  hello-lambda

    - name:                    Setup Go environment
      uses:                    actions/setup-go@v2.1.3
      with:
        go-version:            1.15.2

    - name:                    Get dependencies
      run:                     go get github.com/aws/aws-lambda-go/lambda

    - name:                    Build lambda
      run:                     |
        cd hello-lambda/src
        export GOOS=linux
        go build -v main.go

    - name:                    Package lambda
      run:                     |
        cd hello-lambda/src
        zip function.zip main

    - name:                    Publish artifact
      uses:                    actions/upload-artifact@v2
      with:
        name:                  function.zip
        path:                  hello-lambda/src/function.zip

  deploy:
    name:                      Deploy Lambda
    runs-on:                   ubuntu-latest
    needs:                     build

    steps:

    - name:                    Checkout
      uses:                    actions/checkout@v2.3.3
      with:
        path:                  hello-lambda

    - name:                    Configure AWS Credentials
      uses:                    aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region:            eu-west-2

    - name:                    Setup Terraform environment
      uses:                    hashicorp/setup-terraform@v1.2.0
      with:
        terraform_version:     0.13.0

    - name:                    Download Lambda package
      uses:                    actions/download-artifact@v2
      with:
        name:                  function.zip
        path:                  hello-lambda/terraform

    - name:                    Initialise Terraform
      run:                     |
        cd hello-lambda/terraform
        terraform init -backend-config backend-config/lab

    - name:                    Terraform plan
      run:                     |
        cd hello-lambda/terraform
        terraform plan -var lambda_pkg_filename=function.zip -out lab.tfplan

    - name:                    Terraform apply
      run:                     |
        cd hello-lambda/terraform
        ls -la
        terraform apply lab.tfplan

    - name:                    Terraform destroy
      run:                     |
        cd hello-lambda/terraform
        terraform destroy -var lambda_pkg_filename=function.zip -auto-approve
