name:               Build Test Deploy AWS Lambda

on:
  push:
    branches:       [ $default-branch ]

jobs:

  build:
    name:           Build
    runs-on:        ubuntu-latest

    steps:

    - name:         Checkout
      uses:         actions/checkout@v2.3.3
      with:
        path:       hello-lambda

    - name:         Setup Go environment
      uses:         actions/setup-go@v2.1.3
      with:
        go-version: 1.15.2

    - name:         Get dependencies
      run:          go get github.com/aws/aws-lambda-go/lambda

    - name:         Build lambda
      run:          |
        cd hello-lambda/src
        GOOS=linux go build -v main.go
