name:               Build Package Deploy AWS Lambda

on:
  push:
    branches:
      - $default-branch

jobs:

  check-env:
    name:           Check Env
    runs-on:        ubuntu-latest

    steps:

    - name:         Print environment variables
      run:          set

    - name:         Print original working directory
      run:          pwd

  build:
    name:           Build
    runs-on:        ubuntu-latest

    steps:

    - name:         Checkout
      uses:         actions/checkout@v2.3.3
      with:
        path:       hello-lambda

    - name:         Setup Go environment
      uses:         actions/setup-go@v2.1.3
      with:
        go-version: 1.15.2

    - name:         Get dependencies
      run:          go get github.com/aws/aws-lambda-go/lambda

    - name:         Build lambda
      run:          |
        cd hello-lambda/src
        GOOS=linux go build -v main.go

  package:
    name:           Package
    runs-on:        ubuntu-latest

    steps:

    - name:         Install zip
      run:          |
        apt-get -y update
        apt-get -y install zip

    - name:         Package lambda
      run:          |
        cd hello-lambda/src
        zip function.zip main
